/*
Syntax Theme: Project
Language: CSharp
*/
.highlight {
	.language-csharp {
		.c { color: #008000; font-style: italic; }
		.cp { color: #008000; font-style: italic; }
		.cm { color: #008000; font-style: italic; }
		.c1 { color: #008000; font-style: italic; }
		.cs { color: #008000; font-style: italic; font-style: bold; }
		.s { color: #800080; }
		.k  { color: #00f; font-weight: normal; }
		.kt { color: #00f; font-weight: normal; }
		.m  { color: #000; font-weight: normal; }
		.n  { color: #000; font-weight: normal; }
		.nc { color: #000; font-weight: normal; }
		.nf { color: #000; font-weight: normal; }
	}
}