/*
Syntax Theme: Project
Language: XML
*/
.highlight {
	.language-xml {
		.c { color: #008000; font-style: italic }
		.cp { color: #800000; }
		.s   { color: #00f; }
		.na  { color: #f00; }
		.nt  { color: #800000; }
	}
}