/*
Syntax Theme: Project
Language: PHP
*/
.highlight {
	.language-php {
		.c { color: #008000; font-style: italic; }
		.c1 { color: #008000; font-style: italic; }
		.cp { color: #000; font-weight: normal; }
		.cm { color: #008000; font-style: italic; }
		.s { color: #800080; }
		.s1 { color: #800080; }
		.k  { color: #00f; font-weight: normal; }
		.nb  { color: #000; font-weight: normal; }
		.nc  { color: #000; font-weight: normal; }
		.nv { color: #399; font-weight: normal; }
	}
}