---
layout: null
---

// Colors
$site-background: #2c3e50;
$code-background: #fbedbb;
$linkColor: #e74c3c;
$footerLinkColor: #a6a6a6;

// Dimensions
$pageWidth: 820px;
$pageSlateSize: 15px;
$menuSlateSize: 30px;

@import "mixins",
        "layout",
		"syntax";