{% include head.html prefix='Project: ' %}
<div id="box">
	{% include header.html %}
	<div class="page">
		{% include nav.html isProject='true' %}
		<div id="page-top"></div>
		<div id="page-content">
			<div id="content-wrapper">
			<h1>Project: {{ page.title }}</h1>
			{% if page.github or page.npm %}
				<p>Source Code/Download:&nbsp;{% if page.github %}<a href="{{ page.github }}" title="GitHub"><img src="{{ site.baseurl }}assets/images/github-16.png" /></a>&nbsp;{% endif %}{% if page.npm %}<a href="{{ page.npm }}" title="npm"><img src="{{ site.baseurl }}assets/images/npm-16.png" /></a>{% endif %}</p>
			{% endif %}
			{{content}}
			</div>
		</div>
	</div>
	{%  include footer.html %}
</div>
</html>